header {
    height: 8%;
    width: 75%;

    .logo {
        font-family: "Anton", sans-serif;
        font-size: 2.4rem;
        color: $black-normal;
    }
}

.container {
    width: 75%;
    height: 85%;
    display: flex;
}

.content {
    height: 100%;
}

.content-1 {
    width: 65%;

    .intro {
        display: flex;
        flex-direction: column;

        .title,
        .title span {
            font-family: "Amarante", sans-serif;
            font-size: 6rem;
            text-shadow: 5px 5px 2px $black-shadow;
            line-height: 8rem;
        }

        .title span {
            display: flex;
            justify-content: flex-end;
        }

        .text {
            font-size: 1.6rem;
            max-width: 40%;
            margin: 1rem;
        }
    }

    .swiper {
        max-width: 100%;
        height: 21rem;

        .pagination {
            display: flex;
            justify-content: end;
            align-items: center;

            .swiper-button-next {
                text-shadow: 5px 5px 2px $black-shadow;
                font-size: 1.6rem;
                font-family: "Amarante", sans-serif;
                color: $white-normal;
                position: relative;
                margin: 0;
                right: 30px;

            }

            .swiper-button-next:after {
                font-size: 1.4rem;
                margin-left: .8rem;

            }
        }

        .movie {
            height: 16rem;
            background-color: transparent;

            img {
                height: 100%;
                border-radius: 1rem;
                object-fit: contain;
                box-shadow: 5px 5px 2px $black-shadow;
            }
        }
    }

}

.btn {
    width: 15rem;
    height: 3.5rem;
    border-radius: 3rem;
    background-color: $gold-normal;
    font-family: "Anton", sans-serif;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    box-shadow: 5px 5px 2px $black-shadow;
    margin: 2rem 0;

}

.content-2 {
    display: flex;
    justify-content: end;
    align-items: center;

    .movie-info {
        max-width: 65%;
        display: none;
        flex-direction: column;
        gap: 2rem;

        img {
            object-fit: contain;
            border-radius: 1rem;
            box-shadow: 5px 5px 2px $black-shadow;
        }

        .text {
            font-size: 1.6rem;
            display: -webkit-box;
            /* Necessário para navegadores WebKit (como Safari e Chrome) */
            -webkit-line-clamp: 5;
            /* Limita a exibição a 5 linhas */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn {
            margin: 0;
        }
    }

    .movie-info.active {
        display: flex;
    }
}

@media screen and (max-width: 768px) {

    header {
        width: 80%;
        height: 10%;
    }

    .container {
        width: 80%;
        height: 80%;
    }

    .content-1 {
        width: 100%;

        .intro {
            margin: 2rem 0 1rem 0;

            .title,
            .title span {
                font-size: 6rem;
                line-height: 8rem;
            }

            .text {
                font-size: 1.7rem;
                max-width: 80%;
                margin: 5rem 0 3rem 0;
            }
        }

        .swiper {
            height: 30rem;

            .movie {
                height: 24.5rem;
                margin-top: 1rem;
            }
        }
    }

    .btn {
        width: 18rem;
        margin: 2rem 0 0 0;
        position: relative;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .content-2 {
        display: none;
    }
}

//telas menores
@media screen and (max-width: 480px) {
    header {
        .logo {
            font-size: 2rem;
        }
    }

    .content-1 {
        width: 100%;

        .intro {

            .title,
            .title span {
                font-size: 3.6rem;
                line-height: 6rem;
            }

            .text {
                max-width: 100%;
            }
        }

        .swiper {
            height: 26rem;

            .movie {
                height: 21rem;
                margin-top: 0;

            }

        }
    }

}